/* Basic styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;

  body {
  background-color: #014473;

}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

/* Styling for the line status bars */
/* Styling for the line status bars */
.line-status-bar {
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: height 555.3s ease;
}


/* Additional styling for line names */
/* Additional styling for line names */
.line-name {
  font-weight: bold;
  display: inline-block; /* Add this line */
}

/* Styling for the emoji */
.emoji {
  display: inline-block; /* Add this line */
  margin-left: 10px; /* Adjust the margin as needed for spacing */
}

/* Styling for line status - initially hidden */

/* Initially hide the element */
.statusElement {
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: height 0.3s ease, opacity 0.3s ease;
}

/* When active, show and change height */
.statusElement.active {
  height: 100px; /* Your desired height */
  opacity: 1;
}

/* Colors for each line */
.bakerloo {
  color: #fff; /* Text color */
  background-color: #a65a2a; /* Background color */
  border-color: #a65a2a; /* Border color */
}

.central {
  color: #fff; /* Text color */
  background-color: #e1251b; /* Background color */
  border-color: #e1251b; /* Border color */
}

.circle {
  color: #000; /* Text color */
  background-color: #ffcd00; /* Background color */
  border-color: #fffff; /* Border color */
}

.district {
  color: #fff; /* Text color */
  background-color: #007934; /* Background color */
  border-color: #007555;
  border-width: 2px; 
  border-style: solid;
/* Border color */
}

.hammercity {
  color: #000; /* Text color */
  background-color: #ec9bad; /* Background color */
  border-color: #ec9bad; /* Border color */
}

.jubilee {
  color: #fff; /* Text color */
  background-color: #7b868c; /* Background color */
  border-color: #7b868c; /* Border color */
}

.metropolitan {
  color: #fff; /* Text color */
  background-color: #870f54; /* Background color */
  border-color: #870f54; /* Border color */
}

.northern {
  color: #fff; /* Text color */
  background-color: #000; /* Background color */
  border-color: #000; /* Border color */
}

.piccadilly {
  color: #fff; /* Text color */
  background-color: #000f9f; /* Background color */
  border-color: #000f9f; /* Border color */
}

.victoria {
  color: #fff; /* Text color */
  background-color: #00a0df; /* Background color */
  border-color: #00a0df; /* Border color */
}

.waterloocity {
  color: #000; /* Text color */
  background-color: #6bcdb2; /* Background color */
  border-color: #6bcdb2; /* Border color */
}

.default-class {
  background-color: #CCCCCC; /* Default color for lines without specific color */
}