body {
  margin: 0;
  font-family: sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f5f5;
}

h2 {
  margin-bottom: 20px;
}

#arrivalList {
  list-style: none;
  padding: 0;
}

#arrivalList li {
  margin-bottom: 10px;
}

#busStopIdInput {
  display: block;
  width: 200px; /* Adjust width as needed */
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 10px;
}
